<div class="w-screen min-h-screen flex flex-col items-center mt-10">
  <h1 class="text-5xl text-white font-bold mb-8">
    Coming Soon
  </h1>
  <p class="text-white text-lg mb-8">
    This page is under construction!
  </p>
</div>
